
body.modal-open{
    width:100%!important;
    padding-right:0!important;
    overflow-y:scroll!important;
    position:fixed!important;
    font-family: 'Lato', sans-serif;

}
.modal {
	z-index: 1000;
}

.modal-dialog {
    top: 157px;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  /*margin-top: -50px;*/
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 16px;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 16px;
  /*border-radius: 3px 0 0 3px;*/
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#studentData .ui-jqgrid-hbox {
	display : none;
}



.table-bordered>tbody>tr>td{
    border: 1px solid #ddd;
    font-size: 14px;
}
.table-bordered>tbody>tr>th{
    border: 1px solid #ddd;
    text-align: center;
    font-weight: 500;
    color: #000;
}

.hide_div {
display:none;
}
#ui-datepicker-div {
  display : none;
}
.error, .dispatched_error {
color : red;
}